
Assignment1/data/cifar-10-batches-py/batches.meta
Assignment1/data/cifar-10-batches-py/data_batch_1
Assignment1/data/cifar-10-batches-py/data_batch_2
Assignment1/data/cifar-10-batches-py/data_batch_3
Assignment1/data/cifar-10-batches-py/data_batch_4
Assignment1/data/cifar-10-batches-py/data_batch_5
Assignment1/data/cifar-10-batches-py/readme.html
Assignment1/data/cifar-10-batches-py/test_batch
Assignment1/data/cifar-10-python.tar.gz
